<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="/static/css/style.css" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
	</head>
	<body>


    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
      <a class="navbar-brand">swAPI page</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"></ul>
		<div>Logged in as {{ session['username'] }} <a href='/logout'>Logout</a></div>
    </nav>


		<h1>Star Wars universe planets</h1>
			<button id="previous" class="btn" type="button">Previous</button>
			<button id="next" class="btn" type="button">Next</button>
		</div>
		<div>
		<table class="table" id="tableContainer"></table>
		</div>
		<div class="modal" id="id01" role="dialog">
		<div class="modal-lg">
			<div class="modal-content table">
			<div class="container">
				<button id="closeModal" type="button" class="close" data-dismiss="modal">&times;</button>
				<div>
				<table id="residentsModal"></table>
				</div>
			</div>
			</div>
		</div>
		</div>
		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.2.1.js" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" defer></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" defer></script>
	</body>
</html>